# Ignore Game Recording
*.bk2
*.mp4

# Python
*.egg
*.egg-info/
*.pyc
__pycache__/
*.DS_Store

# ROMs
roms/*

# Models
models/

# Logs and data
logs/
data/

# Notebooks
.ipynb_checkpoints/

# Environment
.env
